button {
    width: 8vw;
    position: relative;
    margin-top: -1rem;
}

#nav1 {
    position: relative;
    margin-top: 2rem;
    margin-left: 6.7rem;
}

#nav1 li a {
    padding: 2.5rem;
}

.login {
    position: absolute;
    margin-top: -1.7rem;
    margin-left: 4rem;
}

.logo {
    position: relative;
    margin-top: -.6rem;
}

 h1 {
    font-size: 3.5em;
    word-spacing: 0.8em;
    position: relative;
    margin-left: -6rem;
    margin-top: 5rem;
} 

span {
    color: rgb(32, 56, 192);
}

p {
    font-size: larger;
    position: absolute;
    margin-top: 2rem;
    margin-left: -6rem;
}

.design1 {
    position: relative;
    margin-top: -12rem;
    margin-left: 32rem;
    width: 50vw;
}

.p2 {
    margin-top: -.4rem;
    font-size: medium;
    color: rgb(156, 153, 153);
}
.design2 {
    width: 28vw;
    margin-left: -6rem;
    margin-top: 2.3rem;
    opacity: 0.3;
}

.logo-name {
    position: absolute;
    margin-left: 3rem;
    margin-top: -.7rem;
}

input[type=email] {
    width: 32vw;
    height: 10vh;
    margin-top: -13rem;
    margin-left: -5.9rem;
} 

input[type=email]:focus {
    border-color: rgb(32, 56, 192);
}

#button2 {
    background-color: rgb(32, 56, 192);
    position: absolute;
    margin-top: -12.1rem;
    margin-left: 11.5rem;
    color: white;
    font-weight: bold;
    width: 11vw;
    height: 8vh;
}

/* second section */

#second-section {
    position: absolute;
    margin-top: 14rem;
}

h6 {
    color: rgb(32, 56, 192);
    position: absolute;
    margin-top: 10rem;
    font-weight: bold;
    margin-left: 1.3rem;
}

 .section2Head {
    position: relative;
    margin-left: -4rem;
    margin-top: 7rem;
    } 

  #p3 {
      position: absolute;
    margin-top: 14rem;
    margin-left: -6rem;
    font-weight: 600;
    color: rgb(156, 153, 153);
}  

#screenshot {
    width: 45vw;
    margin-left: 38rem;
    margin-top: 1rem;
    border: 1px solid rgb(238, 235, 235);
}

#button3 {
    background-color: rgb(32, 56, 192);
    color: white;
    font-weight: bold;
    width: 11vw;
    height: 8vh;
    position: relative;
    margin-top: -11rem;
    margin-left: -1rem;
}

#btn:hover {
    background-color: white;
    color: black;
    transition: all 0.3s;
}